.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-for-center{
    padding-left: 120px;
    padding-right: 120px;
}

p{
    text-align: justify;  
}


h2{
    text-align: center;
}
